.image-section{
    height: calc(100vh - 60px);
    width: 50%;
    position: fixed;
    left: 50%;
    top: 60px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 90%;
    height: 90%;
    transition: all 1s ease-in-out;
}

.orange{
    background-color: orange;
}
.blue{
    background-color: rgb(18, 75, 188);
}

.yellow{
    background-color: rgb(255, 255, 103);
}

.salmon{
    background-color: salmon;
}

.red{
    background-color: rgb(244, 76, 76);
}